#include "BangEditor/Behaviour.h"

USING_NAMESPACE_BANG
USING_NAMESPACE_BANG_EDITOR

class BEHAVIOUR_NAME : public Behaviour
{
    COMPONENT(BEHAVIOUR_NAME);

public:
    BEHAVIOUR_NAME() = default;
    virtual ~BEHAVIOUR_NAME() = default;

    void OnStart() override;
    void OnUpdate() override;
};

BANG_BEHAVIOUR_CLASS(BEHAVIOUR_NAME);
