# C++ and Bang
build*/
*.refl.h
tmp
*.exe
**.slo
**.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.cfg
prof.*
gmon.out
gprof.out
profiling_info.out
callgrind.*
nohup.out
*.user.*
bin/*

# Visual Studio
*.vcxproj.filters
*.vcxproj.user
*.db
*.opendb
*.swp
.vs/*

# CMake
*.cbp
*.trace
*CMakeCache.txt
*CMakeFiles/*
objs*/*
build/*
CMakeConfig.txt

# QtCreator
*.autosave
*.user
