#include "BEHAVIOUR_NAME.h"

void BEHAVIOUR_NAME::OnStart()
{
    Behaviour::OnStart();

    // This code is executed once when the Behaviour is started
}

void BEHAVIOUR_NAME::OnUpdate()
{
    Behaviour::OnUpdate();

    // This code is executed every frame
}

BANG_BEHAVIOUR_CLASS_IMPL(BEHAVIOUR_NAME);
